th, td {
    border-right: 1px solid #DEE2E6;
}

.last-update {
    border-right: none;
}

thead tr {
    font-size: 8pt;
}

tr.header th {
    padding: 2px 6px;
}

tbody tr {
    font-size: 8pt;
}

tr.event td {
    padding: 2px 6px;
}

.sp-name {
    width: 35%;
}

.ev-name {
    width: 30%;
}

.period {
    width: 10%;
}

.bet-name {
    width: 8%;
}

.odds, .st, .bl {
    width: 2%;
}

.last-update {
    width: 8%;
}
