{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/events.css" %}">
{% endblock %}
{% block body %}
    <ul class="nav nav-pills my-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if page_type == "live" %}active{% endif %}" href="{% url "live_bets" %}">Live</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page_type == "log" %}active{% endif %}" href="{% url "log_bets" %}">24h Logs</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-2 col-sm-12 col-xs-12">
            {% if page_type == "live" %}
                <div class="mb-3" id="filter-form">
                    <div class="form-group">
                        <label class="h3">Sport</label>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="football-checkbox" checked="checked"
                                   value="ФУТБОЛ">
                            <label class="form-check-label" for="football-checkbox">Футбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="hockey-checkbox" checked="checked"
                                   value="ХОККЕЙ">
                            <label class="form-check-label" for="hockey-checkbox">Хоккей</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="basketball-checkbox" checked="checked"
                                   value="БАСКЕТБОЛ">
                            <label class="form-check-label" for="basketball-checkbox">Баскетбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="voleyball-checkbox" checked="checked"
                                   value="ВОЛЕЙБОЛ">
                            <label class="form-check-label" for="voleyball-checkbox">Волейбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="tennis-checkbox" checked="checked"
                                   value="ТЕННИС">
                            <label class="form-check-label" for="tennis-checkbox">Теннис</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="tabletennis-checkbox" checked="checked"
                                   value="НАСТОЛЬНЫЙ ТЕННИС">
                            <label class="form-check-label" for="tabletennis-checkbox">Настольный теннис</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="handball-checkbox" checked="checked"
                                   value="ГАНДБОЛ">
                            <label class="form-check-label" for="handball-checkbox">Гандбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="fieldhockey-checkbox" checked="checked"
                                   value="ХОККЕЙ НА ТРАВЕ">
                            <label class="form-check-label" for="fieldhockey-checkbox">Хоккей на траве</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="beachvolley-checkbox" checked="checked"
                                   value="ПЛЯЖНЫЙ ВОЛЕЙБОЛ">
                            <label class="form-check-label" for="beachvolley-checkbox">Пляжный волейбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rugby-checkbox" checked="checked"
                                   value="РЕГБИ">
                            <label class="form-check-label" for="rugby-checkbox">Регби</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="badminton-checkbox" checked="checked"
                                   value="БАДМИНТОН">
                            <label class="form-check-label" for="badminton-checkbox">Бадминтон</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="billiard-checkbox" checked="checked"
                                   value="БИЛЬЯРД">
                            <label class="form-check-label" for="billiard-checkbox">Бильярд</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="baseball-checkbox" checked="checked"
                                   value="БЕЙСБОЛ">
                            <label class="form-check-label" for="baseball-checkbox">Бейсбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="cybersport-checkbox" checked="checked"
                                   value="КИБЕРСПОРТ">
                            <label class="form-check-label" for="cybersport-checkbox">Киберспорт</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="cybetfootball-checkbox"
                                   checked="checked"
                                   value="КИБЕРФУТБОЛ">
                            <label class="form-check-label" for="cyberfootball-checkbox">Киберфутбол</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sportssimulator-checkbox"
                                   checked="checked"
                                   value="СПОРТИВНЫЕ СИМУЛЯТОРЫ">
                            <label class="form-check-label" for="sportssimulator-checkbox">Спортивные симуляторы</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rocketleague-checkbox" checked="checked"
                                   value="ROCKET LEAGUE">
                            <label class="form-check-label" for="rocketleague-checkbox">Rocket League</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="h3">ST</label>
                        <input class="form-control mb-1" type="number" value="0" id="st-start">
                        <input class="form-control" type="number" value="100" id="st-stop">
                    </div>
                    <div class="form-group">
                        <label class="h3">BL</label>
                        <input class="form-control mb-1" type="number" value="0" id="bl-start">
                        <input class="form-control" type="number" value="100" id="bl-stop">
                    </div>
                    <div class="form-group">
                        <label class="h3">Odds</label>
                        <input class="form-control mb-1" type="number" value="1" id="odds-start">
                        <input class="form-control" type="number" value="1000" id="odds-stop">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12">
            <table class="table mb-5">
                <thead>
                <tr class="header">
                    <th class="sp-name" scope="col">Sport</th>
                    <th class="ev-name" scope="col">Event</th>
                    <th class="period" scope="col">Period</th>
                    <th class="bet_name" scope="col">Bet</th>
                    <th class="odds" scope="col">Odds</th>
                    <th class="st" scope="col">ST</th>
                    <th class="bl" scope="col">BL</th>
                    <th class="last-update" scope="col">Last update</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr class="event" id="{{ event.ev_id }}">
                        <td class="sp-name">{{ event.sp_name }}</td>
                        <td class="ev-name">{{ event.ev_name }}</td>
                        <td class="period">{{ event.period }}</td>
                        <td class="bet-name">{{ event.bet_name }}</td>
                        <td class="odds">{{ event.coef }}</td>
                        <td class="st">{{ event.st }}</td>
                        <td class="bl">{{ event.bl }}</td>
                        <td class="last-update" time="{{ event.time_atr }}">{{ event.time_str }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% if page_type == "live" %}
        <script src="{% static "js/fonbet-api-adapter.js" %}"></script>{% endif %}
    <script src="{% static "js/filter.js" %}"></script>
{% endblock %}