{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main-template.css" %}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="custom-container col-xs-12">
{% block body %}{% endblock %}
</div>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-3.4.1.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>